<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marlon.estudo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/CustomActivityThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="main"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="login"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".EntrarActivity"
            android:label="entrar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".CadastroActivity"
            android:label="cadastro"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".CodigoIndicacaoActivity"
            android:label="codigo"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FimCorridaActivity"
            android:label="fimcorrida"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".PerfilActivity"
            android:label="perfil"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".AvalieMotoristaActivity"
            android:label="avaliacao"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".HistoricoActivity"
            android:label="historico"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".EsqueciSenhaActivity"
            android:label="esqueci senha"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>